@model IEnumerable<MovieListDotnetMVC.Models.Movie>

@{
    ViewBag.Title = "List of Movies";
}

<h2>Movie List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            <input type="button" class="btn btn-default" value="Details" onclick="location.href='@Url.Action("Details","Home",new { id = item.MovieId })'" />
        </td>
    </tr>
    }

</table>